body {
  background-color: hsl(30, 38%, 92%);
  margin: 0;
}

.container {
  background-color: white;
  border-radius: 15px;
  height: 600px;
  margin: 0 auto;
  width: 75%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 80%;
}

.description-container {
  margin: 50px;
  text-align: left;
  width: 50%;
}

.bottle-img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: inline-block;
  flex-shrink: 0;
  height: 100%;
}

.addToCart {
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
  height: 4em;
  margin-top: 1.75em;
  width: 100%;
}

.dark-blue {
  color: darkblue;
}

.dark-cyan {
  color: hsl(158, 36%, 37%);
}

.floral {
  letter-spacing: 2px;
  line-height: 2em;
}

.gabrielleDesc {
  font-family: Fraunces;
  font-size: 2em;
  font-weight: 700;
  margin-top: 20px;
}

.grayish {
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
}

.iconCart {
  margin-right: 0.5em;
}

.perfume {
  letter-spacing: .25em;
  margin-top: 25px;
  font-size: 1em;
}

.salePrice {
  text-decoration: line-through;
  margin-left: 2em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
